//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        div.uk-width-large-1-1

          h1.uk-margin-large-top
            | #{siteName} : #{pageName}

          h2.uk-h3 Templates

          ul
            li
              a(href="default.html") Default


  include ../bower_components/GEF/src/assets/pug/patterns/_global-scripts.pug

  </body>
